body{
	background-color: #161310;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
a{
	color: white;
	text-decoration: none;
}
article{
	color: #000;
}
.branco{
	background-color: transparent;
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 70px;	
	/* foi necessário adicionar essa class para poder colocar height: auto; na sections 2 e garantir que a recrursividade
	funcionasse nela. Todavia, como tinha o auto, acrescentei uma div transparente, para que ele reconhecesse e deixasse a section 2
	maior, o que a torn esteticamente mais agradável. */
}
.container1{
	background-image: url("../images/banner.jpg"); 
    background-size: 1366px; 
    width: auto;
	overflow: hidden;
    max-width: 1366px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    filter: contrast(120%);
}
.section1{
	background-color: #FFF;
	margin-top: 25%;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-color: #AAA;
	border-style: solid;
	border-width: 0.5px;
}
.section2{
	background-color: #FFF;
	margin-top: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom-color: #AAA;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}
.imgsec1{
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 10%;
	float: left;
}
.div-artsec1{
	margin-left: 10%;
	padding: 20px;
	text-align: justify;
	width: 80%;
	font-weight: bold;
}
.material{
	font-size: 35px;
	color: #F16529;
	letter-spacing: 5px;
	float: left;
	margin-top: 6%;
	margin-left: 8%;
	margin-right: 8%;
}
.material2{
	font-size: 35px;
	color: #F16529;
	letter-spacing: 5px;
	float: right;
	margin-left: 27%;
	margin-right: 27%;
}
.material3{
	color: #A72D3A;
	font-size: 35px;
	letter-spacing: 5px;
	float: left;
	margin-left: 38%;
	margin-right: 38%;
}
.material4{
	margin-left: 40%;
	float: right;
}
.top-header{
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	background-color: rgba(23, 20, 17, 0.3);
	overflow: hidden;
}
.cards-section2{
	margin-left: 7.8%;
}
.card1{
	background-color: #D65B43;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-bottom: 10px;
	float: left;
}
.card2{
	background-color: #D65B43;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-bottom: 10px;
	float: left;
}
.card3{
	background-color: #48B7E6;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-bottom: 10px;
	float: left;
}
.card4{
	background-color: #F3CA4B;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-right: 80px;
	margin-bottom: 10px;
	float: left;
}
.card5{
	background-color: #B21300;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-bottom: 10px;
	float: left;
}
.card6{
	background-color: #A72D3A;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-bottom: 10px;
	float: left;
}
.card7{
	background-color: #8A2BFF;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-bottom: 10px;
	float: left;
}
.card8{
	background-color: #A72D3A;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 1px;
	width: 220px;
	height: 320px;
	box-shadow: 2px 2px #D9D9D9;
	margin-left: 49px;
	margin-right: 80px;
	filter: contrast(80%);
	margin-bottom: 10px;
	float: left;
}
.botvermais{
	float: left;
	margin-left: 38%;
	margin-top: 30px;
	background-color: #161310;
	border-radius: 8px;
	border-style: none;
	width: 200px;
	height: 30px;
	color: #FFF;
	cursor: pointer;
}
.html{
	padding-left: 47px;
	padding-right: 47px;
}
.html-css{
	margin-left: -5.5px;
}
.ruby{
	padding-left: 34px;
}
.rails{
	padding-left: 39px;
}
.info-card-5-6{
	background-color: #FFF;
	width: 220px;
	height: 104px;
	margin-top: 5px;
}
.heroku{
	margin-left: 33px;
}
.info{
	background-color: #FFF;
	width: 220px;
	height: 104px;
	margin-top: 10px;
}
.info-card4{	
	background-color: #FFF;
	width: 220px;
	height: 104px;
	margin-top: 10px;

}
.info-html-css{
	background-color: #FFF;
	width: 220px;
	height: 104px;
	margin-top: 11px;
}
.info-card8{
	background-color: #FFF;
	width: 220px;
	height: 104px;
	margin-top: 5px;
}
.info-card7{
	background-color: #FFF;
	width: 220px;
	height: 104px;
	margin-top: 10px;
}
.postado{
	color: #FFF;
	padding-left: 12px;
}
.postado2{
	padding: 17px;
}
.postado3{
	padding-left: 10px;
	color: #FFF;
}
.postado4{
	margin-top: -11px;
	padding-left: 17px;
	color: #FFF;
}
.postado7{
	padding-left: 5px;
	color: #FFF;
}
.bot-estudar{
	background-color: #FF7F00;
	border-radius: 8px;
	border-style: none;
	width: 200px;
	height: 30px;
	margin-left: 10px;
	color: #FFF;
	cursor: pointer;
}
nav{
	margin-top: 0px;
	filter: alpha(65%);
	float: right;
}
nav li{
	display: inline-block;
	padding: 15px;
	font-size: 18px;
}
.logo{
	padding: 8px;
}
.header-title{
	color: #FFF;
	text-align: center;		
	font-size: 52px;
	margin-top: 13%;
    text-shadow: 1px 1px #000;
}
.bot{
	padding: 1%;
	color: #FFF;
	background-color: transparent;
	font-size: 25px;
	border-radius: 3px;
	border-style: solid;
	border-width: 4px;
	border-color: #FFF;
	letter-spacing: 1px;
	margin-right: 5px;
	font-weight: bold;
	width: 300px;
    text-shadow: 1px 1px #000;
	cursor: pointer;
}
footer{
	background-color: #161310;
	height: 20px;
	padding: 25px;
}