body{
	background-color: #161310;
	font-family: 'Montserrat', sans-serif;

}
a{
	color: white;
	text-decoration: none;
}
#lat1{
	background-color: #0E0E0E;
	margin-left: -1%;
	margin-top: -1%;
	width: 12.5%;
	height: 300%;
	position: absolute;
	z-index: 2;
}
#lat2{
	background-color: #0E0E0E;
	margin-left: 87.5%;
	margin-top: -1%;
	width: 11.9%;
	height: 300%;
	position: absolute;
	z-index: 2;
}
#all{
}
#PCs{
	position: absolute;
	margin-left: 1.2%;
	margin-top: -0.6%;
	width: 89%;
	filter: contrast(150%);
	opacity: 0.6;
}
#nav{
	position: absolute;
	margin-left: 11%;
	margin-top: -1%;
	margin-bottom: 0.6%;
	background-color: rgba(23, 20, 17, 0.7);
	filter: alpha(65%);
	width: 76%;
	height: 16%;
	border-style: solid;
	border-width: 1px;
	z-index: 1;
}
#logo{
	margin-top: 4.7%;
	margin-left: 5%;
	position: absolute;
}
#itens{
	margin-left: 61.8%;
}
#ulmenu li{
	margin-top: 3%;
	position: absolute;
	list-style: none;
	font-size: 18px;
	color: #FFF;
}
#categorias{
	margin-left: 6%;
}
#blog{
	margin-left: 16.5%;
}
#membros{
	margin-left: 22%;
}
#aprenda{
	z-index: 4;
	position: absolute;
	color: #FFF;
	margin-top: 21%;
	margin-left: 20%;
	font-size: 52px;
}
#bot1{
	z-index: 4;
	padding: 1%;
	position: absolute;
	color: #FFF;
	font-size: 25px;
	border-radius: 5px;
	border-style: solid;
	width: 18.7%;
	height: 5%;
	margin-left: 27.5%;
	margin-top: 37.5%;
	letter-spacing: 1px;
}
#bot2{
	z-index: 4;
	padding: 1%;
	position: absolute;
	color: #FFF;
	font-size: 25px;
	border-radius: 5px;
	border-style: solid;
	width: 18.7%;
	height: 5%;
	margin-left: 49.5%;
	margin-top: 37.5%;
	letter-spacing: 1px;
}
#branco{
	position: absolute;
	z-index: 1;
	background-color: #FFF;
	margin-top: 58.8%;
	width: 99%;
	height: 200%;
}
#comp{
	position: absolute;
	z-index: 5;
	margin-left: 12.5%;
	margin-top: 5%;
}
#material{
	position: absolute;
	z-index: 6;
	margin-top: 3.5%;
	margin-left: 42%;
	color: #F16529;
	letter-spacing: 7px;
	font-size: 17.5px;
}
#text1{
	font-size: normal;
	color: #000;
	letter-spacing: 0px;
	margin-right: 24%;
	text-align: justify;
	font-size: 15px;
}
#parte3{
	z-index: 1;
	position: absolute;
	border-style: solid;
	border-color: #E2E5EB;
	border-width: 1.4px;
	width: 99%;
	height: 82%;
	margin-top: 83%;
}
#titparte3{
	color: #F16529;
	letter-spacing: 7px;
	font-size: 33px;

}